body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

#main-div {
    background-color: whitesmoke;
    font-family: 'Segoe Script';
    font-weight: bold;
    padding: .4em;
    height: 11em;
/*
    border: solid 1px lightgray;
    padding: .6em;
*/
}
#main-title {
    float: left;
    width: 8em;
    margin-left: 1em;
    color: cornflowerblue
}
#main-image{
    float: right;
}
#div2 {
    float: left;
    width: 15em; 
    padding: .3em;
}
#search input {
    margin-bottom: 1em;
}
#div3 {
    margin-left: 16em;
    border-left: solid gray;
    padding: 1em;
}
.listing {
    background-color: whitesmoke;
    padding: .8em;
    border: solid lightgray 1px;
    height: 12em;
    margin-bottom: 1em;
}
.listImage {
    float: left;
    margin-right: 3px;
    border: solid black 1px;
}
.listInfo {
    margin-left: 250px;
}
.listInfo h4 {
    color: darkslateblue;
}
.listInfo h2 {
    color: green;
}
.clear {
    clear: both;
}
